body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.center {
    text-align: center;
}

#gif {
    width: 300px;
    height: 300px;
}

#buttons {
    margin-top: 20px;
}